[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "viridis"]
	path = viridis
	url = https://github.com/sjmgarnier/viridis
[submodule "viridisLite"]
	path = viridisLite
	url = https://github.com/sjmgarnier/viridislite
